.timer {
    text-align: center;
    font-family: "Press Start 2P", cursive;
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
  }
  
  button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
  }
  